@model CreateStuViewMode
@*@inject IStudentRepository _isturepository*@
<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post" class="mt-3">
    <div class="form-group row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>  
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name"/>
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>  
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email"/>
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label asp-for="Major" class="col-sm-2 col-form-label"></label>  
        <div class="col-sm-10">
            <select asp-for="Major" asp-items="Html.GetEnumSelectList(typeof(MajorEnum))" class="form-select">
                  <option value="">请选择</option>
            </select>
            <span asp-validation-for="Major" class="text-danger"></span>
        </div>
    </div> 
    <div class="form-group row mb-3">
        <label for="file" asp-for="Photo" class="col-sm-2 col-form-label"></label>  
        <div class="col-sm-10">
            <input asp-for="Photo"  class="form-control" type="file" multiple="true"/> @*多文件只需要在type后面使用taghelper multiple="true"*@
            <span asp-validation-for="Photo "></span>
        </div>
    </div>
   
    <button type="submit" class="btn btn-primary m-1">注册</button>
    
</form>
